doctype html
head
  meta(charset="utf-8")
  title Francesco Albanese Starter kit
  link(rel="stylesheet", type="text/css", href="css/main.css")
body
  .container
    .content-container
      h1 Welcome to my starter Kit.
      h3 Built to quickly start a new project.
      p No more hassle on configuration! Just run #[code npm run gulp:dev] for development or #[code npm run gulp:production] if you want to prepare your project for production.
      a(href="https://github.com/francesco-albanese/Francesco-Starter-Kit") Check it out!
  pre. 
    | Francesco Starter Kit
    | -- app/
    |   | -- jade/
    |   | -- scss/
    |       | -- main.scss
    |   | -- js/
    |       | -- app.js
    |   | -- images/
    |       | -- photo.jpg
script(src="js/app.js")
  
