doctype html
head
  meta(charset="utf-8")
  title Francesco Albanese Starter kit
  link(rel="stylesheet", type="text/css", href="css/main.css")
body
  main Now it should be working correctly
  script(src="js/app.js")
  
